
    <%- include("header"); -%>
    <!-- Results -->
    <div class="row result">
      <div class="result-page col" >
        <h2 class="result-h2"><strong><%= eloc %></strong></h2>
        <p>Temprature: <%= etemp %> celcious</p>
        <p>Feel like : <%= eFeel %> celcious</p>
        <p>Discription: <%= eDis %></p>
      </div>
      <div class="col Wimg">  
        <img src=<%= eImg %>>
      </div>
      <%- include("footer"); -%>
      
